<p id="notice"><%= notice %></p>

<p>
  <strong>Date quote:</strong>
  <%= @quote.date_quote %>
</p>

<p>
  <strong>User:</strong>
  <%= @quote.user %>
</p>

<p>
  <strong>Client:</strong>
  <%= @quote.client %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
